@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f8fafc;
}

.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}